* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a, button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-family: $base-font;
}
input {
  box-shadow: none;
  outline: none;
  font-family: $base-font;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
body {
  font-family: $base-font;
  background-color: $N0;
}

img {
  width: 100%;
  height: auto;
}

