/* Colors */
// neturel
$N0: #ffffff;
$N1: #e8e8e8;
$N2: #b3b3b3;
$N3: #707070;
$N4: #3a3a3a;
$N5: #2e2e2e;

// purple
$P1: #bdabef;
$P2: #9a75db;
$P3: #736bd6;
$P4: #837be8;
$P5: #5118af;

// blue 
$B1: #8295ab;
$B2: #70849b;

/* Font Size */
$size-1: 0.75rem; // 12px
$size-2: 0.875rem; // 14px
$size-3: 0.9375rem; // 15px
$size-4: 1rem; // 16px
$size-5: 1.125rem; // 18px
$size-6: 1.5rem; // 24px
$size-7: 1.625rem; // 26px
$size-8: 2.1875rem; // 35px
$size-9: 3.125rem; // 50xp

/* Fonts */
$base-font: 'SF UI Display', -apple-system, BlinkMacSystemFont, sans-serif;

/* Screens */
$screen-iphone-6: 375px;
$screen-iphone-plus: 414px;
$screen-tablet: 600px;
$screen-ipad: 768px;
$screen-desktop: 1024px;